html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet', href='/sitecss/sittertable.css')
    link(rel='icon', type='image/png', href='/public/images/photo3.jpg')

  body
    // Main Content
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav  
            li.nav-item
              a.nav-link(href='dashboard') Dashboard 
      table#sitterTable 
        thead 
          tr 
            th Name 
            th Gender 
            th Sitter Number
            th Status
            th Clock In
            
            
        tbody 
          if sitters.length 
            each sitter in sitters
              tr 
                td #{sitter.name}
                td #{sitter.gender}
                td #{sitter.sitterNumber}
                td #{sitter.status}
                
                td
                  a.btn.btn-secondary.btn-sm(href='/sitterClockin/'+sitter._id) Clock In
                td
                 
                  
