doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar DayCare
  link(rel='stylesheet' href='/style.css')
  link(rel='stylesheet' href='/sitecss/dash.css')
  link(rel='icon' type='image/png' href='/images/logo.jpeg')
  nav.navbar
  .container
    h1.logo DayStar DayCare
    ul.nav-links
      li
        a(href='/') Home
      li
        a(href='#') About
      li
        a(href='#') Services
      li
        a(href='/index.html') Log Out
    .toggle-button
      span
      span
      span
// DASHBOARD
.dashboard-container
  .sidebar
    h2 DASHBOARD
    .dropdown
      a.item(href='#') Register
      .dropdown-content
        a(href='/register') Register Baby
        a(href='/AddSitter') Register Sitter
    .dropdown
      a.item(href='#') Babies
      .dropdown-content
        a(href='/babieslist') Babies Registered
        a(href='') Babies Clock In
        a(href='') Babies Clock Out
    .dropdown
      a.item(href='#') Sitters
      .dropdown-content
        a(href='/sitterlist') Sitters Registered
        a(href='') Sitters On Duty
        a(href='') Sitters Off Duty
    .dropdown
      a.item(href='#') STAFF
      .dropdown-content
        a(href='/sitterlist') Sitters Registered
        a(href='') Sitters On Duty
        a(href='') Sitters Off Duty
    .dropdown
      a.item(href='#') RECORDS
      .dropdown-content
        a(href='') Payments
        a(href='') Revenue
        a(href='') Sitters Off Duty
    a.item(href='/') STORE
    a.item(href='') 
  