doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar DayCare
  link(rel='stylesheet' href='/style.css')
  link(rel='stylesheet' href='/sitecss/dash.css')
  link(rel='icon' type='image/png' href='/images/logo.jpeg')
  nav.navbar
      .container
        a.navbar-brand(href='/') Home
        ul.nav
          li.nav-item
            a.nav-link(href='') 
          li.nav-item
            a.nav-link(href='babieslist') 
          li.nav-item
            a.nav-link(href='#') 
          li.nav-item
            a.nav-link(href='#') 
// DASHBOARD
.dashboard-container
  .sidebar
    h2 DASHBOARD
    a.item(href='register') Register Baby
    a.item(href='/AddSItter') Register Sitter
    a.item(href='babieslist') BABIES
    a.item(href='') SITTERS
    a.item(href='') STAFF
    a.item(href='') RECORDS
    a.item(href='/') STORE
    a.item(href='/index.html') Log Out
  .content
    
    