doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar DayCare
  link(rel='stylesheet' href='/style.css')
  link(rel='stylesheet' href='/sitecss/dash.css')
  link(rel='icon' type='image/png' href='/images/logo.jpeg')
  nav.navbar
  .container
    h1.logo DayStar DayCare
    ul.nav-links
      li
        a(href='/') Home
      li
        a(href='#') Babies
      li
        a(href='#') Sitters
      li
        a(href='/index.html') Log Out
    .toggle-button
      span
      span
      span
// DASHBOARD
.dashboard-container
  .sidebar
    h2 DASHBOARD
    .dropdown
      a.item(href='#') Register
      .dropdown-content
        a(href='/register') Register Baby
        a(href='/AddSitter') Register Sitter
    .dropdown
      a.item(href='#') Babies
      .dropdown-content
        a(href='/babieslist') Babies Registered:
        a(href='/babiesClockedin') Babies Clock In:
        a(href='') Babies Clock Out:
    .dropdown
      a.item(href='#') Sitters
      .dropdown-content
        a(href='/sitterlist') Sitters Registered:
        a(href='') Sitters On Duty:
        a(href='') Sitters Off Duty:
    .dropdown
      a.item(href='#') STORE
      .dropdown-content
        a(href='/sitterlist') Store Mart
        a(href='') Add Items
        a(href='') Sold Items:
        a(href='') Available Items:
    .dropdown
      a.item(href='#') INCOME
      .dropdown-content
        a(href='') Reports
        a(href='') 
        a(href='') 
    .dropdown
    a.item(href='#') STORE
       .dropdown-content
        a(href='') Store Mart
        a(href='') Add Items
        a(href='') Sold Items
    a.item(href='') 
  