doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='/sitecss/Signin.css')
  nav.navbar
  .container
    a.navbar-brand(href='#') DayStar DayCare
    ul.nav
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='#') About
      li.nav-item
        a.nav-link(href='#') Services
      li.nav-item
        a.nav-link(href='#') Contact
div.container1
  div.login-form
    h2.login-title Login
    form(action='/login' method='POST')
      div.form-group
        label(for='email') Email:
        input#email(type='email' name='email' required='')
      div.form-group
        label(for='password') Password:
        input#password(type='password' name='password' required='')
      button.login-btn(type='submit') Login
    p
      | Don&apos;t have an account? 
      a(href='/signup') Sign Up
    p
      | Forgot your password? 
      a(href='/forgotpassword') Reset Password
