doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DayStar DayCare
  link(rel='stylesheet' href='/sitecss/baby.css')
  link(rel='icon' type='image/png' href='/images/logo.jpeg')
// Main Content
main
nav.navbar
  .container
    a.navbar-brand(href='/') Home
    ul.nav
      li.nav-item
        a.nav-link(href='/babieslist') Babies
      li.nav-item
        a.nav-link(href='dashboard') DashBoard 
      li.nav-item
        a.nav-link(href='#') 
      li.nav-item
        a.nav-link(href='#') 
  h1 
  form#babyForm(action="register" method="POST")
    label(for='babyName') Full Name:
    input#name(type='text' name='fullName' required='')
    br
    label(for='gender') Gender:
    select#gender(name='gender')
      option(value='male') Male
      option(value='female') Female
    br
    label(for='age') Age:
    input#age(type='number' name='age' required='')
    br
    label(for='parent1Name') Parent 1 Name:
    input#name(type='text' name='parent1Name' required='')
    br
    label(for='parent2Name') Parent 2 Name:
    input#name(type='text' name='parent2Name' required='')
    br
    label(for='location') Location:
    input#location(type='text' name='location' required='')
    br
    label(for='babyNumber') Baby Number:
    input#babyNumber(type='text' name='babyNumber' required='')
    br
    label(for='personName') Person Bringing the Baby:
    input#droppedBy(type='text' name='droppedBy' required='')
    br
    label(for='arrivalTime') Time of Arrival:
    input#arrivalTime(type='time' name='arrivalTime' required='')
    br
    label(for='pickedBy') Person Picking the Baby:
    input#name(type='text' name='pickedBy' required='')
    br
    label(for='departureTime') Time of Departure:
    input#departureTime(type='time' name='departureTime' required='')
    br
    label(for='contacts') Contacts:
    input#contacts(type='text' name='contacts' required='')
    br
    .comments-section
      label(for='comments') Comments:
      br
      textarea#comments(rows='4' name='comments')
    input(type='submit' value='Register')
    br
    br
