doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='/sitecss/sitter.css')
    nav.navbar
      .container
        a.navbar-brand(href='/') Home
        ul.nav
          li.nav-item
            a.nav-link(href='/sitterlist') Sitters
          li.nav-item
            a.nav-link(href='/dashboard') DashBoard 
          li.nav-item
            a.nav-link(href='#') 
          li.nav-item
            a.nav-link(href='#') 
  form#sitterForm(action='/AddSItter' method='POST' onsubmit='return validateForm()')
    div
      label(for='name') Name:
      input#name(type='text' name='name' )
    div
      label(for='location') Location:
      select#location(name='location')
        option(value='Kabalagala') Kabalagala
        option(value='Kansanga') Kansanga
        option(value='Muyenga') Muyenga
        option(value='Kibuli') Kibuli
        option(value='Nsambya') Nsambya
        option(value='Ggaba') Ggaba
        option(value='Bunga') Bunga
    div
      label(for='age') Age:
      input#age(type='number' name='age' )
    div
      label(for='gender') Gender:
      select#gender(name='gender')
        option(value='male') Male
        option(value='female') Female
    div
      label(for='nextOfKin') Next of Kin:
      input#nextOfKin(type='text' name='nextOfKin')
    div
      label(for='nin') NIN:
      input#nin(type='text' name='nin')
    div
      label(for='recommender') Recommender's Name:
      input#recommender(type='text' name='recommender')
    div
      label(for='religion') Religion:
      input#religion(type='text' name='religion')
    div
      label(for='education') Level of Education:
      input#education(type='text' name='education')
    div
      label(for='sitterNumber') Sitter Number:
      input#sitterNumber(type='text' name='sitterNumber')
    div
      label(for='contacts') Contacts:
      input#contacts(type='text' name='contacts')
    div
    button(type='submit') Register
    script(src='/public/js/validateSitter.js')
    footer.footer
  .container1 
    p Copyright © 2024 Your Website Name. All rights reserved.
