doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet', href='/public/sitecss/sittertable.css')
    link(rel='icon', type='image/png', href='/public/images/photo3.jpg')

  body
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='/') DOLLS FOR SALE
            li.nav-item
              a.nav-link(href='/dashboard') Dashboard
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item
              a.nav-link(href='#') 
    table
      thead
        tr
          th Name
          th Description
          th Price
          th Status
          th Sell
          th Actions
      tbody
        if dolls.length
          each doll in dolls
            tr
              td #{doll.name}
              td #{doll.description}
              td #{doll.price}
              td #{doll.status}
              td  
                a.btn.btn-secondary.btn-sm(href='/sellDoll/'+doll._id) Sell
              td
                 a.btn.btn-primary.btn-update(href="/dollsUpdate/"+doll._id) Update
            // Delete button 