doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  DayStar DayCare
    link(rel='stylesheet', href='/sitecss/revenue.css')
  body
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='/') 
            li.nav-item
              a.nav-link(href='/dashboard') Dashboard
            li.nav-item
              a.nav-link(href='/revenue-report') 
      .container
        .card
          h2 Babies Total Revenue
          p UGX #{totalAmount.toLocaleString()}

      