doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  DayStar DayCare
    link(rel='stylesheet', href='/sitecss/Signin.css')
  body
    nav.navbar
      .container
        a.navbar-brand(href='') 
        ul.nav
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='#')
          li.nav-item
            a.nav-link(href='#') 
          li.nav-item
            a.nav-link(href='#') 
    h2 
    form(action='/signup', method='POST')
      div
        label(for='name') Name:
        input#name(type='text', name='name',)
      div
        label(for='nationalId') National ID:
        input#nationalId(type='text', name='nationalId',)
      div
        label(for='gender') Gender:
        select#gender(name='gender')
          option(value='male') Male
          option(value='female') Female
      div
        label(for='address') Address:
        input#address(type='text', name='address')
      div
        label(for='contact') Contact:
        input#contact(type='text', name='contact')
      div
        label(for='nextOfKin') Next of Kin:
        input#nextOfKin(type='text', name='nextOfKin')
      div
        label(for='email') Email:
        input#email(type='email', name='email')
      div
        label(for='password') Password:
        input#password(type='password', name='password')
      br
      button.btn(type='submit') Register
      br
      p
      |  have an account? 
      a(href='/login') Login
      p
      br
      
