doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title  DayStar DayCare
    link(rel='stylesheet', href='/public/sitecss/store.css')
  body
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='/babieslist') 
            li.nav-item
              a.nav-link(href='dashboard') DashBoard 
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item
              a.nav-link(href='#') 
        .form-container
  
  form(action='/dollsUpdate?id='+doll._id, method='POST')
    label(for='name') Name:
    input#itemName(type='text', name='name' value=doll.name)
    br
    label(for='description') Description:
    textarea#description(name='description', rows='4', value=doll.description)
    br
    label(for='price') Price:
    input#price(type='number', name='price' value=doll.price)
    br
    input#status(type='hidden' name='status' value="Available")
    button(type='submit') Add Item

      
    
